/* Font Used in Header */
.design-font {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
}

body{
    background-color: #8A5F41;
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* border: 1px solid red; */
}

header{
    text-align: center;
    color: #CCD67F;
    font-size: clamp(45px, 5.5vw, 5.5vw);
    /* border: 1px solid red; */
    width: 100%;
    max-width: 37vw;
    min-width: 300px;
}




/* lower buttons */
#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
}

#buttons button {
    background-color: #F3E4C9;
    border: 2px solid #765336;
    border-radius: 30px;
    box-shadow: #65472f 4px 4px 0 0;
    color: #765336;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#buttons button:hover {
    background-color: #fff;
}

#buttons button:active {
    box-shadow: #65472f 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    #buttons button {
        min-width: 120px;
        padding: 0 25px;
    }
}


#selectColor{
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}







/* the container that contains the divs */
#container{
    background-color: #F3E4C9;
    /* border: 1px solid red; */
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 30vw;
    min-width: 325px;
    min-height: auto;
    padding: 0.7vw;

    border-radius: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Vertical Grid/Row Container */
.verticalGrid{
    /* border: 1px solid red; */
    min-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
    display: flex;
}

/* each row cells inside Vertical Grid */
.gridCell{
    background-color: #F3E4C9;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 18%;
    flex-grow: 1;
    opacity: 0.1;
}

